<ion-view title="Capitulo XVII" id="page25">
  <ion-content padding="true" class="has-header">
  <form name="form" class="form-horizontal"  ng-submit="submitForm('capituloXVIII')" novalidate>
    <h3 id="capituloXVII2-heading23" style="color:#000000;text-align:center;">CAPÍTULO XVII. MEDIO AMBIENTE (MA)</h3>
    <ion-list id="capituloXVII2-list35">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII2-list-item-divider97"> <b>(ENC: ENTREGUE TARJETA SATISFACCIÓN) </b>En una escala de 1 a 5, donde 1 es muy insatisfecho(a) y 5 es muy satisfecho(a), ¿qué tan insatisfecho(a) o satisfecho(a) está Usted en cuanto <u>a los resultados de la gestión ambiental</u> en los siguientes temas? Puede utilizar cualquier número de la escala.: <b>(ENC: LEA Y ROTE) RU POR PROBLEMA</b></ion-item>

              <div class="item item-body row" id="capituloXVIII-list-item-container151">
        <div id="capituloXVIII-markdown348" style="text-align:center;" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">
            <strong>PROBLEMAS</strong>
          </p>
        </div>
        <div id="capituloXVIII-markdown480" style="text-align:center;" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">
            <strong>MA3 
            </strong>
          </p>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVII2-list-item-container144">
        <div id="capituloXVII2-markdown341" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">a. La contaminación del aire? </p>
        </div>
        <div id="capituloXVII2-form48" class="list col col-50">
         <div>
           
         
            <div  class="list row ">
              <ion-radio name="ma3a" ng-model="survey.ma3a" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="ma3a" ng-model="survey.ma3a" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="ma3a" ng-model="survey.ma3a" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="ma3a" ng-model="survey.ma3a" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="ma3a" ng-model="survey.ma3a" ng-value="5" class="col text-center">5</ion-radio>
            </div>
         </div>  
        </div>
      </div>
      <div class="item item-body row" id="capituloXVII2-list-item-container145">
        <div id="capituloXVII2-markdown342" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">b. La contaminación del agua, ríos, quebradas, humedales, mares, ciénagas, bahías, caños, etc.? </p>
        </div>
        <div id="capituloXVII2-form88" class="list col col-50">
           <div>
             
           
            <div  class="list row ">
              <ion-radio name="ma3b" ng-model="survey.ma3b" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="ma3b" ng-model="survey.ma3b" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="ma3b" ng-model="survey.ma3b" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="ma3b" ng-model="survey.ma3b" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="ma3b" ng-model="survey.ma3b" ng-value="5" class="col text-center">5</ion-radio>
            </div>
 </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVII2-list-item-container146">
        <div id="capituloXVII2-markdown343" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">c. El nivel de ruido de la ciudad? </p>
        </div>
        <div id="capituloXVII2-form89" class="list col col-50">
           <div>
             
           
           <div  class="list row ">
              <ion-radio name="m4c" ng-model="survey.ma3c" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="m4c" ng-model="survey.ma3c" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="m4c" ng-model="survey.ma3c" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="m4c" ng-model="survey.ma3c" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="m4c" ng-model="survey.ma3c" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVII2-list-item-container147">
        <div id="capituloXVII2-markdown344" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">d. La cantidad de árboles en la ciudad? </p>
        </div>
        <div id="capituloXVII2-form90" class="list col col-50">
           <div>
             
           
            <div  class="list row ">
              <ion-radio name="m4d" ng-model="survey.ma3d" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="m4d" ng-model="survey.ma3d" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="m4d" ng-model="survey.ma3d" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="m4d" ng-model="survey.ma3d" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="m4d" ng-model="survey.ma3d" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVII2-list-item-container148">
        <div id="capituloXVII2-markdown345" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">e. La contaminación visual de la ciudad? </p>
        </div>
        <div id="capituloXVII2-form91" class="list col col-50">
         <div>
           
         
            <div  class="list row ">
              <ion-radio name="m4e" ng-model="survey.ma3e" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="m4e" ng-model="survey.ma3e" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="m4e" ng-model="survey.ma3e" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="m4e" ng-model="survey.ma3e" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="m4e" ng-model="survey.ma3e" ng-value="5" class="col text-center">5</ion-radio>
            </div>
         </div> 
        </div>
      </div>
      <div class="item item-body row" id="capituloXVII2-list-item-container149">
        <div id="capituloXVII2-markdown346" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">f. Las basuras en las calles? </p>
        </div>
        <div id="capituloXVII2-form92" class="list col col-50">
          <div>
            
          
            <div  class="list row ">
              <ion-radio name="m4f" ng-model="survey.ma3f" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="m4f" ng-model="survey.ma3f" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="m4f" ng-model="survey.ma3f" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="m4f" ng-model="survey.ma3f" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="m4f" ng-model="survey.ma3f" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVII2-list-item-container150">
        <div id="capituloXVII2-markdown347" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">g. Los escombros en las calles?</p>
        </div>
        <div id="capituloXVII2-form93" class="list col col-50">
         <div>
           
         
            <div  class="list row ">
              <ion-radio name="m4g" ng-model="survey.ma3g" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="m4g" ng-model="survey.ma3g" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="m4g" ng-model="survey.ma3g" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="m4g" ng-model="survey.ma3g" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="m4g" ng-model="survey.ma3g" ng-value="5" class="col text-center">5</ion-radio>
            </div>
         </div>
        </div>
      </div>
    </ion-list>


    <ion-list id="capituloXVII2-list37">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII2-list-item-divider98"> <b>MA13. (ENC: MUESTRE TARJETA MA13)</b> ¿Cuáles de las acciones contenidas en esta tarjeta realiza usted y su familia para ayudar a cuidar el ambiente en <b>(Barranquilla/ Soledad/ Puerto Colombia)</b>? RM</ion-item>
      <ion-checkbox class="item-text-wrap" id="capituloXVII2-checkbox22" ng-model="survey.ma131" name="ma13a">1. Desconectan los aparatos eléctricos o electrónicos cuando no están en uso</ion-checkbox>
      <ion-checkbox class="item-text-wrap" id="capituloXVII2-checkbox23" ng-model="survey.ma132" name="ma13b">2. Llevan bolsas no plásticas al supermercado</ion-checkbox>
      <ion-checkbox class="item-text-wrap" id="capituloXVII2-checkbox24" ng-model="survey.ma133" name="ma13c">3. Usan con poca frecuencia los aparatos de calefacción o ventilación</ion-checkbox>
      <ion-checkbox class="item-text-wrap" id="capituloXVII2-checkbox25" ng-model="survey.ma134" name="ma13d">4. Ahorran agua</ion-checkbox>
      <ion-checkbox class="item-text-wrap" id="capituloXVII2-checkbox26" ng-model="survey.ma135" name="ma13e">5. Reciclan</ion-checkbox>
      <ion-checkbox class="item-text-wrap" id="capituloXVII2-checkbox27" ng-model="survey.ma136" name="ma13f">6. Cuidan las zonas verdes</ion-checkbox>
      <ion-checkbox class="item-text-wrap" id="capituloXVII2-checkbox28" ng-model="survey.ma137" name="ma13g">7. No arrojan basuras a las calles, quebradas o ríos</ion-checkbox>
    </ion-list>
    <div id="capituloXVII2-form95" class="list">
      <label class="item item-input" id="capituloXVII2-input26" name="ma13h">
        <span class="input-label">89 Otra. ¿Cuál? </span>
        <input ng-model="survey.ma13otro" type="text" placeholder="______________">
      </label>
      <ion-checkbox ng-model="survey.ma1390"  id="capituloXVII2-checkbox29" name="ma1390">90 Ninguna</ion-checkbox>
    </div>
    
    <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>
     <button id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
 </form>
  </ion-content>
</ion-view>