<ion-view title="Capitulo XIX" id="page27">
  <ion-content padding="true" class="has-header">
     <form name="form" class="form-horizontal"  ng-submit="submitForm('capituloXX')" novalidate>

  
    <h3 id="capituloXIX-heading25" style="color:#000000;text-align:center;">CAPÍTULO XIX. ASPECTOS GUBERNAMENTALES - CALIFICACIÓN DE GESTIÓN GLOBAL </h3>
 
    <ion-list id="capituloXIX-list43">
      <ion-item class="item-divider item-text-wrap" id="capituloXIX-list-item-divider102"> <b>PR1A. (Nueva)(ENC: ENTREGUE TARJETAS PR1A.)</b> A continuación, le voy a entregar unas tarjetas para que por favor me diga, ¿en orden de importancia cuáles serían los tres temas principales a los que debería prestarle más atención la Administración de su Ciudad. Por favor, mencióneme solo tres de estos temas <b> (ENC: ACEPTE DOS TEMAS)</b></ion-item>


        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;"> </p><p class="balanced"><b>Temas seleccionados: 1. {{order.tema1}} - {{order.tema2}} - {{order.tema3}}</b></p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
             <div id="capituloXI-container33" class="row">
          <div id="capituloXI-markdown185" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">1er Tema más importante: {{order.tema1}}</p>
          </div>
          <div id="capituloXI-markdown186" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">2do. Tema más importante: {{order.tema2}}</p>
          </div>
          <div id="capituloXI-markdown187" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">3er Tema más importante: {{order.tema3}}</p>
          </div>
           
        </div>
          </div>
        </div>

        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">1.  Pobreza y vulnerabilidad</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a1'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a1'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a1'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">2.  Igualdad de oportunidades (o equidad)</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a2'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a2'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a2'" class="col text-center">3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">3.  Educación</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a3'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a3'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a3'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">4.  Salud</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a4'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a4'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a4'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">5.  Cultura (promoción y acceso a diferentes expresiones artísticas)</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a5'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a5'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a5'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">6.  Recreación y deporte</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a6'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a6'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a6'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">7.  Empleo</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a7'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a7'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a7'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">8.  Seguridad ciudadana y convivencia</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a8'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a8'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a8'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">9.  Vivienda</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a9'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a9'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a9'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">10. Servicios públicos</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a10'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a10'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a10'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">11. Movilidad y transporte</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a11'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a11'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a11'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">12. Espacio público </p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a12'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a12'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a12'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">13. Medio ambiente</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a13'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a13'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a13'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">14. Cultura y comportamiento ciudadano</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a14'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a14'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a14'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">15. Buen gobierno, participación ciudadana y transparencia</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="tema1" ng-model="order.tema1" ng-value="'pr1a15'" class="col text-center" >1</ion-radio>
              <ion-radio name="tema2" ng-model="order.tema2" ng-value="'pr1a15'" class="col text-center" >2</ion-radio>
              <ion-radio name="tema3" ng-model="order.tema3" ng-value="'pr1a15'" class="col text-center" >3</ion-radio>
            </div>
          </div>
        </div>




      <ion-item class="item-divider item-text-wrap" id="capituloXIX-list-item-divider102"> GG1. Ahora vamos a hablar específicamente del Alcalde de <b>(Barranquilla/ Soledad/ Puerto Colombia)</b>, <b>(Alejandro Char Chaljub / Joao Herrera / Steimer Mantilla)</b>. Quisiera saber si la imagen que usted tiene de él es favorable o desfavorable. Si no lo
        conoce, dígamelo y seguimos adelante. RU</ion-item>
      <ion-radio id="capituloXIX-radio177" ng-model="survey.gg1" ng-value="1" name="gg1" required>1 Favorable</ion-radio>
      <ion-radio id="capituloXIX-radio178" ng-model="survey.gg1" ng-value="2" name="gg1">2 Desfavorable</ion-radio>
      <ion-radio id="capituloXIX-radio179" ng-model="survey.gg1" ng-value="3" name="gg1">3 No tiene opinión </ion-radio>
      <ion-radio id="capituloXIX-radio115" ng-model="survey.gg1" ng-value="4" name="gg1">4 No conoce </ion-radio>



      <ion-item class="item-divider item-text-wrap" id="capituloXIX-list-item-divider104"> <b>GG2.(Nueva)(ENC: ENTREGUE TARJETA CONFIANZA)</b> ¿Y qué tanto confía usted en él, en una escala de 1 a 5, <u>donde 1 es que no confía nada y 5 es que confía mucho</u>? Puede utilizar cualquier número de la escala. RU</ion-item>
      <div
        class="item item-body" id="capituloXIX-list-item-container167">
        <div id="capituloXIX-container55" class="row">
          <div id="capituloXIX-markdown404" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">No confía nada</p>
          </div>
          <div id="capituloXIX-markdown405" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXIX-markdown406" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXIX-markdown407" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXIX-markdown408" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Confía mucho</p>
          </div>
        </div>
        <div  class="list row">
              <ion-radio name="gg2" ng-model="survey.gg2" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gg2" ng-model="survey.gg2" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gg2" ng-model="survey.gg2" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="gg2" ng-model="survey.gg2" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="gg2" ng-model="survey.gg2" ng-value="5" class="col text-center">5</ion-radio>
            </div>
        </div>




      <ion-item class="item-divider item-text-wrap" id="capituloXIX-list-item-divider104"> GG3. (ENC: ENTREGUE TARJETA GESTIÓN) ¿En términos generales, ¿Usted cómo califica la gestión del Alcalde (Alejandro Char Chaljub / Joao Herrera / Steimer Mantilla), en una escala de 1 a 5, siendo 1 muy mala gestión y 5 muy buena gestión? RU</ion-item>
      <div
        class="item item-body" id="capituloXIX-list-item-container167">
        <div id="capituloXIX-container55" class="row">
          <div id="capituloXIX-markdown404" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy Mala Gestión</p>
          </div>
          <div id="capituloXIX-markdown405" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXIX-markdown406" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXIX-markdown407" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXIX-markdown408" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy Buena Gestión</p>
          </div>
        </div>
        <div  class="list row">
              <ion-radio name="gg3" ng-model="survey.gg3" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gg3" ng-model="survey.gg3" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gg3" ng-model="survey.gg3" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="gg3" ng-model="survey.gg3" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="gg3" ng-model="survey.gg3" ng-value="5" class="col text-center">5</ion-radio>
            </div>
        </div>


          <ion-item class="item-divider item-text-wrap" id="capituloXIX-list-item-divider104"> <b>CV5. (Nueva) (ENC: ENTREGUE TARJETA SATISFACCION)</b> Usando las opciones de la tarjeta donde <u>1 es muy insatisfecho y 5 muy satisfecho</u>, ¿qué tan satisfecho está usted con la forma como la Alcaldía invierte los recursos públicos de la ciudad? Puede utilizar cualquier número de la escala. RU</ion-item>
      <div
        class="item item-body" id="capituloXIX-list-item-container167">
        <div id="capituloXIX-container55" class="row">
          <div id="capituloXIX-markdown404" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy insatisfecho</p>
          </div>
          <div id="capituloXIX-markdown405" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo insatisfecho </p>
          </div>
          <div id="capituloXIX-markdown406" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> Ni insatisfecho ni satisfecho </p>
          </div>
          <div id="capituloXIX-markdown407" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> Satisfecho </p>
          </div>
          <div id="capituloXIX-markdown408" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy satisfecho</p>
          </div>
          <div id="capituloXIX-markdown409" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">No sabe / No opina </p>
          </div>
        </div>
        <div  class="list row">
              <ion-radio name="cv5" ng-model="survey.cv5" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="cv5" ng-model="survey.cv5" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="cv5" ng-model="survey.cv5" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="cv5" ng-model="survey.cv5" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="cv5" ng-model="survey.cv5" ng-value="5" class="col text-center">5</ion-radio>
              <ion-radio name="cv5" ng-model="survey.cv5" ng-value="90" class="col text-center">90</ion-radio>
            </div>
        </div>
    </ion-list>
 
    <ion-list id="capituloXIX-list51">
      <ion-item class="item-divider item-text-wrap" id="capituloXIX-list-item-divider105"> <b>GG7. (ENC: ENTREGUE TARJETA GG7)</b> Usando las opciones de esta tarjeta, ¿qué tanto cree Usted que ha cambiado el nivel de corrupción en <b>(Barranquilla/ Soledad/ Puerto Colombia) </b>durante el último año? RU</ion-item>
    </ion-list>
    <div id="capituloXIX-form112" class="list">
      <ion-radio id="capituloXIX-radio180" ng-model="survey.gg7" ng-value="1" name="gg7" required>1 Ha disminuido mucho</ion-radio>
      <ion-radio id="capituloXIX-radio181" ng-model="survey.gg7" ng-value="2" name="gg7">2 Ha disminuido algo</ion-radio>
      <ion-radio id="capituloXIX-radio182" ng-model="survey.gg7" ng-value="3" name="gg7">3 Sigue igual</ion-radio>
      <ion-radio id="capituloXIX-radio183" ng-model="survey.gg7" ng-value="4" name="gg7">4 Ha aumentado algo</ion-radio>
      <ion-radio id="capituloXIX-radio184" ng-model="survey.gg7" ng-value="5" name="gg7">5 Ha aumentado mucho</ion-radio>
    </div>
  <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>
     <button id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
 </form>
  </ion-content>
</ion-view>