<ion-view title="Capitulo III" id="page11">
  <ion-content padding="true" class="has-header">
    <form name="form" class="form-horizontal" ng-submit="submitForm('capituloIV')" novalidate>
      <h3 id="capituloIII-heading8" style="color:#000000;text-align:center;">CAPITULO III. CALIDAD DE VIDA (CV)</h3>
      <ion-list id="capituloIII-list20">
        <ion-item class="item-divider item-text-wrap" id="capituloIII-list-item-divider20"> <b>CV1. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) se siente Usted con <b>(Barranquilla/Soledad/Puerto Colombia)</b> como una ciudad para vivir, usando estas opciones? Puede utilizar cualquier número de la escala. RU</ion-item>
        <div class="item item-body col" id="capituloIII-list-item-container56">
          <div id="capituloIII-container36" class="row">
            <div id="capituloIII-markdown222" style="text-align:center;" class="show-list-numbers-and-dots col">
              <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
            </div>
            <div id="capituloIII-markdown223" style="text-align:center;" class="show-list-numbers-and-dots col">
              <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
            </div>
            <div id="capituloIII-markdown224" style="text-align:center;" class="show-list-numbers-and-dots col">
              <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
            </div>
            <div id="capituloIII-markdown225" style="text-align:center;" class="show-list-numbers-and-dots col">
              <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
            </div>
            <div id="capituloIII-markdown226" style="text-align:center;" class="show-list-numbers-and-dots col">
              <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
            </div>
          </div>
          <div class="list row">
            <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
          </div>
        </div>

        <div ng-if="survey.localidad<=5">
          <ion-item class="item-divider item-text-wrap" id="capituloI-input242" name="cv1a">
            CV1A: ¿Qué hace que usted se sienta a gusto con <b>Barranquilla</b> como un lugar para vivir
          </ion-item>
          <ion-item class="item item-input">
            <textarea placeholder="Escriba aquí la respuesta" ng-model="survey.cv1a" rows="3" ng-required="survey.localidad<=5"></textarea>
          </ion-item>
        </div>
      </ion-list>
      <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>
      <button id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
    </form>
  </ion-content>
</ion-view>
