<ion-view title="Capitulo XIII" id="page20">
  <ion-content padding="true" class="has-header">
    <form name="form" class="form-horizontal" ng-submit="submitForm('capituloXIV')" novalidate>
      <h3 id="capituloXIII-heading18" style="color:#000000;text-align:center;">CAPITULO XIII. RESPONSABILIDAD, CORRESPONSABILIDAD Y CONVIVENCIA CIUDADANA (RC)</h3>
      <ion-list id="capituloXIII-list16">
        <ion-item class="item-divider item-text-wrap" id="capituloXII-list-item-divider63"><b> RC1 . (NUEVA)</b> De las siguientes instituciones de la ciudad, ¿cuáles cree Usted que están realizando acciones por mejorar su calidad de vida? <b>(ENC: LEA INSTITUCIONES. SEÑALE LAS QUE LE RESPONDAN “SI”) RM</b></ion-item>
        <ion-checkbox id="capituloXII-checkbox40" ng-model="survey.rc11" name="rc11" class="item-text-wrap">1. La Alcaldía</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox41" ng-model="survey.rc12" name="rc12" class="item-text-wrap">2. La Gobernación</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox42" ng-model="survey.rc13" name="rc13" class="item-text-wrap">3. Las empresas de servicios públicos</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox43" ng-model="survey.rc14" name="rc14" class="item-text-wrap">4. La Policía</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox44" ng-model="survey.rc15" name="rc15" class="item-text-wrap">5. El Concejo</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox45" ng-model="survey.rc16" name="rc16" class="item-text-wrap">6. El Gobierno Nacional</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox46" ng-model="survey.rc17" name="rc17" class="item-text-wrap">7. La Junta Administradora Local/Ediles y/o Alcaldía local [NO APLICA FUERA DE BARRANQUILLA]</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox47" ng-model="survey.rc18" name="rc18" class="item-text-wrap">8. Los medios de comunicación</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox48" ng-model="survey.rc19" name="rc19" class="item-text-wrap">9. La Junta de Acción Comunal de su barrio</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox49" ng-model="survey.rc110" name="pc110" class="item-text-wrap">10. Las asociaciones cívicas y comunitarias que trabajan en su barrio o localidad</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox50" ng-model="survey.rc111" name="pc111" class="item-text-wrap">11. Las ONG´s que trabajan en su barrio, localidad o en la ciudad</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox52" ng-model="survey.rc112" name="pc112" class="item-text-wrap">12. La empresa privada / los empresarios</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox51" ng-model="survey.rc113" name="pc113" class="item-text-wrap">13. Las universidades</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox53" ng-model="survey.rc114" name="pc114" class="item-text-wrap">14. Los partidos políticos</ion-checkbox>
        <ion-checkbox id="capituloXII-checkbox54" ng-model="survey.rc115" name="pc115" class="item-text-wrap">15. Las iglesias</ion-checkbox>
        <label class="item item-input row" id="capituloX-input10">
          <span class="input-label col">89. Otra. ¿Cuál?  </span>
          <input class="col" ng-model="survey.rc1otra" type="text" placeholder="">
        </label>
        <ion-checkbox id="capituloXII-checkbox57" ng-model="survey.rc1ninguna" name="rc1ninguna" class="item-text-wrap">90. (ENC: NO LEA) Ninguna</ion-checkbox>
        <div ng-show=" true">
          <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider43"> <b>RC3. (NUEVA)</b> Ahora le voy a mencionar algunos aspectos referentes al comportamiento de las personas en la ciudad frente al cumplimiento de algunas normas. De 1 muy mal a 5 muy bien, ¿cómo cree Usted que se comportan los habitantes de <b>Barranquilla/Soledad  y Puerto Colombia</b> en general frente a este tema? <b>(ENC: LEA Y ROTE) RU POR ITEM</b>
          </ion-item>
          <div class="item item-body row" id="capituloXI-list-item-container42">
            <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;"> </p>
            </div>
            <div id="capituloXI-form16" class="list col col-50">
              <div id="capituloXI-container33" class="row">
                <div id="capituloXI-markdown185" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;">Muy Mal</p>
                </div>
                <div id="capituloXI-markdown186" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;"></p>
                </div>
                <div id="capituloXI-markdown187" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;"></p>
                </div>
                <div id="capituloXI-markdown188" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;"></p>
                </div>
                <div id="capituloXI-markdown189" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;">Muy Bien</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container42">
            <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">1. Cuidado y respeto de los espacios públicos (parques, zonas verdes) y bienes públicos (canecas, asientos, teléfonos públicos, señalización, tapas de alcantarillado, paraderos de buses)</p>
            </div>
            <div id="capituloXI-form16" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc31" ng-model="survey.rc31" ng-value="1" class="col text-center">1</ion-radio>
                <ion-radio name="rc31" ng-model="survey.rc31" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc31" ng-model="survey.rc31" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc31" ng-model="survey.rc31" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc31" ng-model="survey.rc31" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container43">
            <div id="capituloXI-markdown206" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">2. Respeto a las normas básicas de tránsito</p>
            </div>
            <div id="capituloXI-form27" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc32" ng-model="survey.rc32" ng-value="1" class="col text-center">1</ion-radio>
                <ion-radio name="rc32" ng-model="survey.rc32" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc32" ng-model="survey.rc32" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc32" ng-model="survey.rc32" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc32" ng-model="survey.rc32" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container44">
            <div id="capituloXI-markdown207" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">3. Respeto a las normas ambientales</p>
            </div>
            <div id="capituloXI-form32" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc33" ng-model="survey.rc33" ng-value="1" class="col text-center">1</ion-radio>
                <ion-radio name="rc33" ng-model="survey.rc33" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc33" ng-model="survey.rc33" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc33" ng-model="survey.rc33" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc33" ng-model="survey.rc33" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">4. Honestidad/ legalidad en la conexión a los servicios públicos</p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc34" ng-model="survey.rc34" ng-value="1" class="col text-center">1</ion-radio>
                <ion-radio name="rc34" ng-model="survey.rc34" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc34" ng-model="survey.rc34" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc34" ng-model="survey.rc34" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc34" ng-model="survey.rc34" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
        </div>
        <ion-item class="item-divider item-text-wrap" id="capituloXIII-list-item-divider17"> <b>RC4. (ENC: ENTREGUE TARJETA RC4)</b> Le voy a mencionar algunos aspectos referentes al comportamiento de los ciudadanos. De <u>1 muy mal a 5 muy bien</u>, ¿cómo cree Ud. que se comportan los habitantes de su ciudad en general frente a las siguientes normas básicas de convivencia: <b>(ENC: LEA Y ROTE).RM</b></ion-item>
        <div class="item item-body" id="capituloXIII-list-item-container112">
          <div id="capituloXIII-form64" class="list">
            <div id="capituloXI-form16" class="list col ">
              <div id="capituloXI-container33" class="row">
                <div id="capituloXI-markdown185" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;">Muy Mal</p>
                </div>
                <div id="capituloXI-markdown186" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;"></p>
                </div>
                <div id="capituloXI-markdown187" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;"></p>
                </div>
                <div id="capituloXI-markdown188" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;"></p>
                </div>
                <div id="capituloXI-markdown189" style="text-align:center;" class="show-list-numbers-and-dots col">
                  <p style="margin-top:0px;color:#000000;">Muy Bien</p>
                </div>
              </div>
            </div>
            <div class="item item-body r" id="capituloXIII-list-item-container113">
              <div id="capituloXIII-markdown511" style=" ;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">a. ¿Respeto a la vida?</p>
              </div>
              <div class="item item-body row" id="capituloXI-list-item-container42">
              </div>
              <div id="capituloXIII-form111" class="list col">
                <div class="list row">
                  <ion-radio name="rc4a" ng-model="survey.rc4a" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4a" ng-model="survey.rc4a" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4a" ng-model="survey.rc4a" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4a" ng-model="survey.rc4a" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4a" ng-model="survey.rc4a" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container95">
              <div id="capituloXIII-markdown181" class="show-list-numbers-and-dots">
                <p style="color:#000000;">b. ¿Respeto por los adultos mayores (ancianos)?</p>
              </div>
              <div id="capituloXIII-form12" class="list col">
                <div class="list row">
                  <ion-radio name="rc4b" ng-model="survey.rc4b" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4b" ng-model="survey.rc4b" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4b" ng-model="survey.rc4b" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4b" ng-model="survey.rc4b" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4b" ng-model="survey.rc4b" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container96">
              <div id="capituloXIII-markdown182" class="show-list-numbers-and-dots">
                <p style="color:#000000;">c. ¿Respeto por los niños y niñas?</p>
              </div>
              <div id="capituloXIII-form56" class="list col">
                <div class="list row">
                  <ion-radio name="rc4c" ng-model="survey.rc4c" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4c" ng-model="survey.rc4c" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4c" ng-model="survey.rc4c" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4c" ng-model="survey.rc4c" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4c" ng-model="survey.rc4c" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container97">
              <div id="capituloXIII-markdown183" class="show-list-numbers-and-dots">
                <p style="color:#000000;">d. ¿Respeto por las personas con discapacidad?</p>
              </div>
              <div id="capituloXIII-form57" class="list col">
                <div class="list row">
                  <ion-radio name="rc4d" ng-model="survey.rc4d" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4d" ng-model="survey.rc4d" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4d" ng-model="survey.rc4d" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4d" ng-model="survey.rc4d" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4d" ng-model="survey.rc4d" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container98">
              <div id="capituloXIII-markdown184" class="show-list-numbers-and-dots">
                <p style="color:#000000;">e. ¿Respeto por los desplazados por la violencia?</p>
              </div>
              <div id="capituloXIII-form58" class="list col">
                <div class="list row">
                  <ion-radio name="rc4e" ng-model="survey.rc4e" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4e" ng-model="survey.rc4e" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4e" ng-model="survey.rc4e" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4e" ng-model="survey.rc4e" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4e" ng-model="survey.rc4e" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container99">
              <div id="capituloXIII-markdown204" class="show-list-numbers-and-dots">
                <p style="color:#000000;">f. ¿Respeto por los reinsertados o desmovilizados?</p>
              </div>
              <div id="capituloXIII-form59" class="list col">
                <div class="list row">
                  <ion-radio name="rc4f" ng-model="survey.rc4f" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4f" ng-model="survey.rc4f" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4f" ng-model="survey.rc4f" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4f" ng-model="survey.rc4f" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4f" ng-model="survey.rc4f" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container100">
              <div id="capituloXIII-markdown213" class="show-list-numbers-and-dots">
                <p style="color:#000000;">g. ¿Respeto por las mujeres?</p>
              </div>
              <div id="capituloXIII-form60" class="list col">
                <div class="list row">
                  <ion-radio name="rc4g" ng-model="survey.rc4g" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4g" ng-model="survey.rc4g" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4g" ng-model="survey.rc4g" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4g" ng-model="survey.rc4g" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4g" ng-model="survey.rc4g" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container101">
              <div id="capituloXIII-markdown262" class="show-list-numbers-and-dots">
                <p style="color:#000000;">h. ¿Respeto por los vecinos?</p>
              </div>
              <div id="capituloXIII-form61" class="list col">
                <div class="list row">
                  <ion-radio name="rc4h" ng-model="survey.rc4h" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4h" ng-model="survey.rc4h" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4h" ng-model="survey.rc4h" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4h" ng-model="survey.rc4h" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4h" ng-model="survey.rc4h" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container104">
              <div id="capituloXIII-markdown317" class="show-list-numbers-and-dots">
                <p style="color:#000000;">i. Respeto por personas de diversa orientación sexual (gays, lesbianas, bisexuales y transgénero</p>
              </div>
              <div id="capituloXIII-form65" class="list col">
                <div class="list row">
                  <ion-radio name="vrc4i" ng-model="survey.rc4i" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="vrc4i" ng-model="survey.rc4i" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="vrc4i" ng-model="survey.rc4i" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="vrc4i" ng-model="survey.rc4i" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="vrc4i" ng-model="survey.rc4i" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
            <div class="item item-body" id="capituloXIII-list-item-container105">
              <div id="capituloXIII-markdown330" class="show-list-numbers-and-dots">
                <p style="color:#000000;">j. Respeto por las minorías étnicas, afrodescendientes, indígenas, roms o gitanos</p>
              </div>
              <div id="capituloXIII-form66" class="list col">
                <div class="list row">
                  <ion-radio name="rc4j" ng-model="survey.rc4j" ng-value="1" class="col text-center" required>1</ion-radio>
                  <ion-radio name="rc4j" ng-model="survey.rc4j" ng-value="2" class="col text-center">2</ion-radio>
                  <ion-radio name="rc4j" ng-model="survey.rc4j" ng-value="3" class="col text-center">3</ion-radio>
                  <ion-radio name="rc4j" ng-model="survey.rc4j" ng-value="4" class="col text-center">4</ion-radio>
                  <ion-radio name="rc4j" ng-model="survey.rc4j" ng-value="5" class="col text-center">5</ion-radio>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show=" true">
          <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider43"> <b>RC5. (NUEVA) (ENC: ENTREGUE TARJETA NADA-MUCHO)</b> En una escala de 1 a 5,<u> donde 1 es nada y 5 es mucho</u>, ¿Usted considera que puede ser castigado o amonestado por parte de las autoridades si comete uno de los siguientes comportamientos? Puede utilizar cualquier número de la escala. <b>(ENC: LEA Y ROTE) RU POR ITEM</b>
          </ion-item>

          <div class="item item-body row" id="capituloXI-list-item-container42">
            <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;"> </p>
            </div>
             <div id="capituloXI-form16" class="list col col-50">
            <div id="capituloXI-container33" class="row">
              <div id="capituloXI-markdown185" style="text-align:center;" class="show-list-numbers-and-dots col">
                <p style="margin-top:0px;color:#000000;">Nada</p>
              </div>
              <div id="capituloXI-markdown186" style="text-align:center;" class="show-list-numbers-and-dots col">
                <p style="margin-top:0px;color:#000000;"></p>
              </div>
              <div id="capituloXI-markdown187" style="text-align:center;" class="show-list-numbers-and-dots col">
                <p style="margin-top:0px;color:#000000;"></p>
              </div>
              <div id="capituloXI-markdown188" style="text-align:center;" class="show-list-numbers-and-dots col">
                <p style="margin-top:0px;color:#000000;"></p>
              </div>
              <div id="capituloXI-markdown189" style="text-align:center;" class="show-list-numbers-and-dots col">
                <p style="margin-top:0px;color:#000000;">Mucho</p>
              </div>
            </div>
          </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container42">
            <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">1. Violar una norma de construcción</p>
            </div>
            <div id="capituloXI-form16" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc51" ng-model="survey.rc51" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc51" ng-model="survey.rc51" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc51" ng-model="survey.rc51" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc51" ng-model="survey.rc51" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc51" ng-model="survey.rc51" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container43">
            <div id="capituloXI-markdown206" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">2. Arrojar basura y escombros al espacio público</p>
            </div>
            <div id="capituloXI-form27" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc52" ng-model="survey.rc52" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc52" ng-model="survey.rc52" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc52" ng-model="survey.rc52" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc52" ng-model="survey.rc52" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc52" ng-model="survey.rc52" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container44">
            <div id="capituloXI-markdown207" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">4. Conectarse ilegalmente a servicios públicos</p>
            </div>
            <div id="capituloXI-form32" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc54" ng-model="survey.rc54" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc54" ng-model="survey.rc54" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc54" ng-model="survey.rc54" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc54" ng-model="survey.rc54" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc54" ng-model="survey.rc54" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">5. Ocupar indebidamente el espacio público</p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc55" ng-model="survey.rc55" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc55" ng-model="survey.rc55" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc55" ng-model="survey.rc55" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc55" ng-model="survey.rc55" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc55" ng-model="survey.rc55" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">6. No pagar impuestos</p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc56" ng-model="survey.rc56" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc56" ng-model="survey.rc56" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc56" ng-model="survey.rc56" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc56" ng-model="survey.rc56" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc56" ng-model="survey.rc56" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">7. Orinar en el espacio público </p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc57" ng-model="survey.rc57" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc57" ng-model="survey.rc57" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc57" ng-model="survey.rc57" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc57" ng-model="survey.rc57" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc57" ng-model="survey.rc57" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">8. Incumplir normas y señales de tránsito</p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc58" ng-model="survey.rc58" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc58" ng-model="survey.rc58" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc58" ng-model="survey.rc58" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc58" ng-model="survey.rc58" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc58" ng-model="survey.rc58" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">9. Agredir a otra persona</p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc59" ng-model="survey.rc59" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc59" ng-model="survey.rc59" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc59" ng-model="survey.rc59" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc59" ng-model="survey.rc59" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc59" ng-model="survey.rc59" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">16. Poner música a alto volumen</p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc516" ng-model="survey.rc516" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc516" ng-model="survey.rc516" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc516" ng-model="survey.rc516" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc516" ng-model="survey.rc516" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc516" ng-model="survey.rc516" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
          <div class="item item-body row" id="capituloXI-list-item-container45">
            <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
              <p style="color:#000000;">17. Portar armas blancas</p>
            </div>
            <div id="capituloXI-form33" class="list col col-50">
              <div class="list row">
                <ion-radio name="rc517" ng-model="survey.rc517" ng-value="1" class="col text-center" required>1</ion-radio>
                <ion-radio name="rc517" ng-model="survey.rc517" ng-value="2" class="col text-center">2</ion-radio>
                <ion-radio name="rc517" ng-model="survey.rc517" ng-value="3" class="col text-center">3</ion-radio>
                <ion-radio name="rc517" ng-model="survey.rc517" ng-value="4" class="col text-center">4</ion-radio>
                <ion-radio name="rc517" ng-model="survey.rc517" ng-value="5" class="col text-center">5</ion-radio>
              </div>
            </div>
          </div>
        </div>
      </ion-list>
      <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>
      <button id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
      <!-- <a ui-sref="tabsController.fILTROS" id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward">Siguiente</a>-->
    </form>
  </ion-content>
</ion-view>
