<ion-view title="Capitulo XIV" id="page21">
  <ion-content padding="true" class="has-header">
    <form name="form" class="form-horizontal"  ng-submit="submitForm('capituloXV')" novalidate>

    <h3 id="capituloXIV-heading19" style="color:#000000;text-align:center;">CAPÍTULO XIV. CULTURA, RECREACIÓN Y DEPORTE (CR)</h3>
    <ion-list id="capituloXIV-list25">
      <ion-item class="item-divider item-text-wrap" id="capituloXIV-list-item-divider70"><b> CR1. (ENC: ENTREGUE TARJETA CR1)</b> En la ciudad se realizan durante el año actividades culturales. ¿En cuál o cuáles de las actividades descritas en esta tarjeta participó usted en el último año Específicamente en <b>(Barranquilla/ Soledad/ Puerto Colombia)</b>?
        <b>(ENC: LEA SI ES NECESARIO. REGISTRE SOLO LAS QUE EL ENCUESTADO MENCIONE) RM</b></ion-item>
      <ion-checkbox id="capituloXIV-checkbox30" ng-model="survey.cr11" name="cr11">1. Teatro</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox31" ng-model="survey.cr12" name="cr12">2. Cine </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox56" ng-model="survey.cr13" name="cr13">3. Conciertos</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox58" ng-model="survey.cr14" name="cr14">4. Ferias</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox59" ng-model="survey.cr15" name="cr15">5. Conferencias </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox60" ng-model="survey.cr16" name="cr16">6. Festivales populares </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox61" ng-model="survey.cr17" name="cr17">7. Tertulias </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox62" ng-model="survey.cr18" name="cr18">8. Carnaval</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox63" ng-model="survey.cr19" name="cr19">9. Visitar museos/galerias/bibliotecas/casas culturales</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox64" ng-model="survey.cr110" name="cr110">10. Leer libros</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox65" ng-model="survey.cr111" name="cr111">11. Leer periódicos/revistas</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox66" ng-model="survey.cr112" name="cr112">12. Visitar monumentos / sitios históricos</ion-checkbox>
      <label class="item item-input" id="capituloXIV-input12" name="cr189">
        <span class="input-label">89. Otro.¿Cuál?</span>
        <input ng-model="survey.cr1otro" type="text" placeholder="">
      </label>
      <ion-checkbox id="capituloXIV-checkbox68"  ng-model="survey.cr190" name="cr190">90 . Ninguno </ion-checkbox>


      <ion-item class="item-divider item-text-wrap" id="capituloXIV-list-item-divider107"> <b>CR2. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con la actividad (oferta) cultural que hay en su ciudad usando estas opciones? Puede utilizar cualquier número de la escala. RU</ion-item>
      <div class="item item-body"
        id="capituloXIV-list-item-container106">
        <div id="capituloXIV-container54" class="row">
          <div id="capituloXIV-markdown331" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy insatisfecho</p>
          </div>
          <div id="capituloXIV-markdown332" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo insatisfecho</p>
          </div>
          <div id="capituloXIV-markdown333" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloXIV-markdown334" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo satisfecho</p>
          </div>
          <div id="capituloXIV-markdown335" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy satisfecho</p>
          </div>
        </div>
        <div  class="list row">
              <ion-radio name="cr2" ng-model="survey.cr2" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="cr2" ng-model="survey.cr2" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="cr2" ng-model="survey.cr2" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="cr2" ng-model="survey.cr2" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="cr2" ng-model="survey.cr2" ng-value="5" class="col text-center">5</ion-radio>
            </div>
      </div>
    </ion-list>
    <ion-list id="capituloXIV-list32">
      <ion-item class="item-divider item-text-wrap" id="capituloXIV-list-item-divider71"> <b>CR3. (ENC: ENTREGUE TARJETA CR3)</b> En la ciudad se realizan durante el año actividades recreativas. ¿En cuál o cuáles de las actividades descritas en esta tarjeta participó usted en el último año en <b>(Barranquilla/ Soledad/ Puerto Colombia)</b>? <b>(ENC:
              LEA. REGISTRE SOLO LAS QUE EL ENCUESTADO MENCIONE) RM</b></ion-item>
      <ion-checkbox id="capituloXIV-checkbox69" ng-model="survey.cr31" name="cr31" class="item-text-wrap">01 Actividades deportivas como espectador, sin incluir televisión </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox70" ng-model="survey.cr32" name="cr32" class="item-text-wrap">02 Practicar algún deporte/actividad física</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox71" ng-model="survey.cr33" name="cr33" class="item-text-wrap">03 Participar en ciclovía </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox72" ng-model="survey.cr34" name="cr34" class="item-text-wrap">04 Ir a parques</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox73" ng-model="survey.cr35" name="cr35">05 Baila/ sale a bailar </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox74" ng-model="survey.cr36" name="cr36" class="item-text-wrap">06 Visitar centros comerciales </ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox75" ng-model="survey.cr37" name="cr37" class="item-text-wrap">07 Ir a restaurantes</ion-checkbox>
      <ion-checkbox id="capituloXIV-checkbox76" ng-model="survey.cr38" name="cr38">08 Ir a la playa </ion-checkbox>
      <label class="item item-input" id="capituloXIV-input13"  ng-model="survey.cr389" name="cr389">
        <span class="input-label">89 Otro.¿Cuál?</span>
        <input  ng-model="survey.cr3otro" type="text" placeholder="">
      </label>
      <ion-checkbox id="capituloXIV-checkbox78"  ng-model="survey.cr390" name="cr390">90 Ninguno</ion-checkbox>


      <ion-item class="item-divider item-text-wrap" id="capituloXIV-list-item-divider108"> <b>CR4. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con la actividad (oferta) recreativa y deportiva que hay en su ciudad usando estas opciones? Puede utilizar cualquier número de la escala. RU</ion-item>
      <div class="item item-body"
        id="capituloXIV-list-item-container119">
        <div id="capituloXIV-container57" class="row">
          <div id="capituloXIV-markdown360" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
          </div>
          <div id="capituloXIV-markdown361" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
          </div>
          <div id="capituloXIV-markdown362" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloXIV-markdown363" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
          </div>
          <div id="capituloXIV-markdown364" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
          </div>
        </div>
        <div  class="list row">
              <ion-radio name="cr4" ng-model="survey.cr4" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="cr4" ng-model="survey.cr4" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="cr4" ng-model="survey.cr4" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="cr4" ng-model="survey.cr4" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="cr4" ng-model="survey.cr4" ng-value="5" class="col text-center">5</ion-radio>
            </div>
      </div>
    </ion-list>
         <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>
     <button id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
   <!-- <a ui-sref="tabsController.fILTROS" id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward">Siguiente</a>-->
  </form>
  </ion-content>
</ion-view>