<ion-view title="Capitulo XVII" id="page24">
  <ion-content padding="true" class="has-header">
    <h3 id="capituloXVII-heading22" style="color:#000000;text-align:center;">CAPÍTULO XVII. MEDIO AMBIENTE (MA)</h3>
    <ion-list id="capituloXVII-list55">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider86"> MA4. (ENC: ENTREGUE TARJETA SATISFACCIÓN) En una escala de 1 a 5, donde 1 es muy insatisfecho(a) y 5 es muy satisfecho(a), ¿qué tan insatisfecho(a) o satisfecho(a) está usted con lo que se hace en su ciudad en los siguientes temas relacionados con
        el medio ambiente: (ENC: LEA Y ROTE) RU POR PROBLEMA</ion-item>
    </ion-list>
    <ion-list id="capituloXVII-list56">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider88"> MV3.(ENC: ENTREGUE TARJETA TRANSPORTE)¿Qué medio de transporte usa Ud. principalmente para desplazarse a sus actividades habituales? RU </ion-item>
      <ion-radio id="capituloXVII-radio222" name="mv3">Transporte masivo (Transmetro)</ion-radio>
      <ion-radio id="capituloXVII-radio223" name="mv3">Bus/Buseta/Micro/Ejecutivo/Colectivo</ion-radio>
      <ion-radio id="capituloXVII-radio224" name="mv3">Taxi</ion-radio>
      <ion-radio id="capituloXVII-radio225" name="mv3">Uber</ion-radio>
      <ion-radio id="capituloXVII-radio226" name="mv3">Moto</ion-radio>
      <ion-radio id="capituloXVII-radio227" name="mv3">Bicicleta</ion-radio>
      <ion-radio id="capituloXVII-radio228" name="mv3">A pie</ion-radio>
      <ion-radio id="capituloXVII-radio229" name="mv3">Vehículo particular</ion-radio>
      <ion-radio id="capituloXVII-radio230" name="mv3">Bus de la empresa/entidad educativa</ion-radio>
      <ion-radio id="capituloXVII-radio231" name="mv3">Transporte informal/Pirata (motocarro, mototaxi, bicitaxi y otros.</ion-radio>
      <label class="item item-input" id="capituloXVII-input27">
        <span class="input-label">Otros</span>
        <input type="text" placeholder="________________">
      </label>
      <div class="item item-body" id="capituloXVII-list-item-container188">
        <div id="capituloXVII-container32" class="row">
          <div id="capituloXVII-markdown375" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy insatisfecho</p>
          </div>
          <div id="capituloXVII-markdown376" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo insatisfecho</p>
          </div>
          <div id="capituloXVII-markdown377" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloXVII-markdown378" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo satisfecho</p>
          </div>
          <div id="capituloXVII-markdown379" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy satisfecho</p>
          </div>
        </div>
        <div id="capituloXVII-button-bar26" class="button-bar">
          <button id="capituloXVII-button192" class="button button-positive  button-block">1</button>
          <button id="capituloXVII-button193" class="button button-positive  button-block">2</button>
          <button id="capituloXVII-button194" class="button button-positive  button-block">3</button>
          <button id="capituloXVII-button201" class="button button-positive  button-block">4</button>
          <button id="capituloXVII-button202" class="button button-positive  button-block">5</button>
        </div>
      </div>
      
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider90"> MV13 (ENC: ENTREGUE TARJETA SATISFACCIÓN) En una escala de 1 a 5, donde 1 es muy insatisfecho(a) y 5 es muy satisfecho(a), ¿qué tan insatisfecho(a) o satisfecho(a) está usted con los siguientes aspectos relacionados con el tránsito de su ciudad.
        Puede utilizar cualquier número de la escala. (ENC: LEA Y ROTE) RU POR OPCIÓN. </ion-item>
      <div class="item item-body row" id="capituloXVII-list-item-container189">
        <div id="capituloXVII-markdown380" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">a. Funcionamiento de semáforos?</p>
        </div>
        <form id="capituloXVII-form124" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container190">
        <div id="capituloXVII-markdown381" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">b. Las cebras para paso peatonal?</p>
        </div>
        <form id="capituloXVII-form125" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container191">
        <div id="capituloXVII-markdown382" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">c. Agentes o Policías de tránsito?</p>
        </div>
        <form id="capituloXVII-form126" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container192">
        <div id="capituloXVII-markdown383" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">d. Las campañas educativas?</p>
        </div>
        <form id="capituloXVII-form127" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container193">
        <div id="capituloXVII-markdown384" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">e.El control al cumplimiento de normas de tránsito?</p>
        </div>
        <form id="capituloXVII-form128" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container194">
        <div id="capituloXVII-markdown385" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">f. La atención de accidentes?</p>
        </div>
        <form id="capituloXVII-form129" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container195">
        <div id="capituloXVII-markdown386" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">g. Los paraderos en la ciudad?</p>
        </div>
        <form id="capituloXVII-form130" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container196">
        <div id="capituloXVII-markdown387" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">h. Puentes peatonales?</p>
        </div>
        <form id="capituloXVII-form131" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
    </ion-list>
    <ion-list id="capituloXVII-list57">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider91"> MV26)¿Es usted usuario del Transmetro? RU</ion-item>
      <ion-radio id="capituloXVII-radio232">Si </ion-radio>
      <ion-radio id="capituloXVII-radio233">No (Pase a EPB1)</ion-radio>
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider92"> (MV27). Comparando el servicio de Transmetro con el de los buses, busetas y colectivos, ¿el servicio del Transmetro le parece _____? RU </ion-item>
      <ion-radio id="capituloXVII-radio234">Mejor que el de buses, busetas y colectivos</ion-radio>
      <ion-radio id="capituloXVII-radio235">Igual que el de buses, busetas y colectivos</ion-radio>
      <ion-radio id="capituloXVII-radio236">Peor que el de buses, busetas y colectivos</ion-radio>
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider93"> (MV28A). En una escala 1 a 5, siendo 1 muy malo y 5 muy bueno ¿Cómo califica el cumplimiento de normas relacionadas con los límites de velocidad en conductores de…? (ENC: LEA Y ROTE) RU POR OPCIÓN. </ion-item>
      <div class="item item-body row" id="capituloXVII-list-item-container197">
        <div id="capituloXVII-markdown388" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">a. Conductores de buses de Transmetro?</p>
        </div>
        <form id="capituloXVII-form132" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container198">
        <div id="capituloXVII-markdown389" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">b. Conductores de taxis?</p>
        </div>
        <form id="capituloXVII-form133" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container199">
        <div id="capituloXVII-markdown390" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">c. Conductores de buses, busetas y colectivos?</p>
        </div>
        <form id="capituloXVII-form134" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
    </ion-list>
    <ion-list id="capituloXVII-list58">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider94"> (MV28A). En una escala 1 a 5, siendo 1 muy malo y 5 muy bueno ¿Cómo califica el cumplimiento de normas relacionadas con los límites de velocidad en conductores de…? (ENC: LEA Y ROTE) RU POR OPCIÓN. </ion-item>
      <div class="item item-body row" id="capituloXVII-list-item-container200">
        <div id="capituloXVII-markdown391" class="show-list-numbers-and-dots col">
          <p style="color:#000000;"> Frecuencia de rutas troncales y de rutas alimentadoras</p>
        </div>
        <form id="capituloXVII-form135" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container201">
        <div id="capituloXVII-markdown392" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Tiempo de viaje en rutas troncales y en rutas alimentadoras</p>
        </div>
        <form id="capituloXVII-form136" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container202">
        <div id="capituloXVII-markdown393" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Cobertura de las rutas</p>
        </div>
        <form id="capituloXVII-form137" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container203">
        <div id="capituloXVII-markdown394" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Información sobre las rutas del sistema</p>
        </div>
        <form id="capituloXVII-form138" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container204">
        <div id="capituloXVII-markdown395" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Confort de los buses, temperatura, ruido, limpieza, iluminación disponibilidad y comodidad de las sillas</p>
        </div>
        <form id="capituloXVII-form139" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container205">
        <div id="capituloXVII-markdown396" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Confort de las estaciones, limpieza, iluminación, temperatura, ruido, amplitud</p>
        </div>
        <form id="capituloXVII-form140" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container206">
        <div id="capituloXVII-markdown397" class="show-list-numbers-and-dots col">
          <p style="color:#000000;"> Servicio de orientación en las estaciones e información por parte del personal</p>
        </div>
        <form id="capituloXVII-form141" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container207">
        <div id="capituloXVII-markdown398" class="show-list-numbers-and-dots col">
          <p style="color:#000000;"> Venta y recarga de tarjetas dentro de las estaciones</p>
        </div>
        <form id="capituloXVII-form142" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container208">
        <div id="capituloXVII-markdown399" class="show-list-numbers-and-dots col">
          <p style="color:#000000;"> Venta y recarga de tarjetas dentro de las estaciones</p>
        </div>
        <form id="capituloXVII-form143" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container209">
        <div id="capituloXVII-markdown400" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Accesibilidad y circulación para las personas con algún tipo de discapacidad o con restricciones de movilidad dentro de las estaciones y los buses</p>
        </div>
        <form id="capituloXVII-form144" class="list col">
          <ion-item class="range range-positive" id="capituloXVII-range91">
            <input type="range" value="0" min="1" max="5" step="1">
          </ion-item>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container210">
        <div id="capituloXVII-markdown401" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Difusión de programas y normas de cultura ciudadana en torno al Transmetro</p>
        </div>
        <form id="capituloXVII-form145" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
      <div class="item item-body row" id="capituloXVII-list-item-container211">
        <div id="capituloXVII-markdown402" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Funcionamiento de puertas automáticas y torniquetes en las estaciones</p>
        </div>
        <form id="capituloXVII-form146" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
    </ion-list>
    <ion-list id="capituloXVII-list59">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider95"> (MV29). Usando las opciones de esta tarjeta, donde 1 es muy bajo y 5 es muy alto, ¿cómo califica el comportamiento de los ciudadanos con el sistema de transporte Transmetro en relación con los siguientes aspectos? (ENC: LEA Y ROTE) RU POR OPCIÓN.
        </ion-item>
      <div class="item item-body row" id="capituloXVII-list-item-container212">
        <div id="capituloXVII-markdown403" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">Funcionamiento de puertas automáticas y torniquetes en las estaciones</p>
        </div>
        <form id="capituloXVII-form147" class="list col">
          <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.cv1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.cv1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.cv1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.cv1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.cv1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
        </form>
      </div>
    </ion-list>
    <ion-list id="capituloXVII-list60">
      <ion-item class="item-divider item-text-wrap" id="capituloXVII-list-item-divider96"> (MV29). Usando las opciones de esta tarjeta, donde 1 es muy bajo y 5 es muy alto, ¿cómo califica el comportamiento de los ciudadanos con el sistema de transporte Transmetro en relación con los siguientes aspectos? (ENC: LEA Y ROTE) RU POR OPCIÓN.
        </ion-item>
      <label class="item item-input" id="capituloXVII-textarea24">
        <span class="input-label"> </span><textarea placeholder="Su respuesta "></textarea></label>
    </ion-list>
    <a ui-sref="capituloXVIII" id="capituloXVII-button203" class="button button-positive  button-block icon-right ion-android-arrow-forward">Siguiente</a>
  </ion-content>
</ion-view>