<ion-view title="Capitulo XI" id="page18">
  <ion-content padding="true" class="has-header">
  <form name="form" class="form-horizontal"  ng-submit="submitForm('capituloXII')" novalidate>
    <h3 id="capituloXI-heading16" style="color:#000000;text-align:center;"> CAPÍTULO XI. SEGURIDAD (SG)  </h3>
    <ion-list id="capituloXI-list14">
      <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider25"> <b>VS8. (ENC: ENTREGUE TARJETA SEGURIDAD)</b> En una escala de 1 a 5, donde 1 es <u>nada seguro</u> y 5 es <u>muy seguro</u>, ¿qué tan seguro se siente Usted en su barrio? Puede utilizar cualquier número de la escala. RU </ion-item>
      <div class="item item-body" id="capituloXI-list-item-container38">
        <div id="capituloXI-container33" class="row">
          <div id="capituloXI-markdown185" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Nada seguro</p>
          </div>
          <div id="capituloXI-markdown186" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo inseguro</p>
          </div>
          <div id="capituloXI-markdown187" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Ni seguro ni inseguro</p>
          </div>
          <div id="capituloXI-markdown188" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo seguro</p>
          </div>
          <div id="capituloXI-markdown189" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy seguro</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="vs8" ng-model="survey.vs8" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="vs8" ng-model="survey.vs8" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="vs8" ng-model="survey.vs8" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="vs8" ng-model="survey.vs8" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="vs8" ng-model="survey.vs8" ng-value="5" class="col text-center">5</ion-radio>
          </div>
      </div>


      <div ng-show="true ">
        <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider43"> VS8A. (ENC: ENTREGUE TARJETA SEGURIDAD) Usando la misma escala que está en esta tarjeta, donde 1 es nada seguro y 5 es muy seguro, ¿qué tan seguro se siente Usted en su los siguientes espacios? Puede utilizar cualquier número de la escala. RU
          </ion-item>

                <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;"> </p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
             <div id="capituloXI-container33" class="row">
          <div id="capituloXI-markdown185" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Nada seguro</p>
          </div>
          <div id="capituloXI-markdown186" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo inseguro</p>
          </div>
          <div id="capituloXI-markdown187" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Ni seguro ni inseguro</p>
          </div>
          <div id="capituloXI-markdown188" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo seguro</p>
          </div>
          <div id="capituloXI-markdown189" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy seguro</p>
          </div>
        </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container42">
          <div id="capituloXI-markdown205" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">1 Las calles por las que transita</p>
          </div>
          <div id="capituloXI-form16" class="list col col-50">
            <div  class="list row">
              <ion-radio name="vs8a1" ng-model="survey.vs8a1" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a1" ng-model="survey.vs8a1" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a1" ng-model="survey.vs8a1" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a1" ng-model="survey.vs8a1" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a1" ng-model="survey.vs8a1" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container43">
          <div id="capituloXI-markdown206" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">2 Bancos y cajeros automáticos</p>
          </div>
          <div id="capituloXI-form27" class="list col col-50">
            <div  class="list row">
              <ion-radio name="vs8a2" ng-model="survey.vs8a2" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a2" ng-model="survey.vs8a2" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a2" ng-model="survey.vs8a2" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a2" ng-model="survey.vs8a2" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a2" ng-model="survey.vs8a2" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container44">
          <div id="capituloXI-markdown207" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">3 Las zonas comerciales</p>
          </div>
          <div id="capituloXI-form32" class="list col col-50">
            <div  class="list row">
              <ion-radio name="vs8a3" ng-model="survey.vs8a3" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a3" ng-model="survey.vs8a3" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a3" ng-model="survey.vs8a3" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a3" ng-model="survey.vs8a3" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a3" ng-model="survey.vs8a3" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container45">
          <div id="capituloXI-markdown208" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">4 Los paraderos de transporte y puentes peatonales</p>
          </div>
          <div id="capituloXI-form33" class="list col col-50">
           <div  class="list row">
              <ion-radio name="vs8a4" ng-model="survey.vs8a4" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a4" ng-model="survey.vs8a4" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a4" ng-model="survey.vs8a4" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a4" ng-model="survey.vs8a4" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a4" ng-model="survey.vs8a4" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container46">
          <div id="capituloXI-markdown209" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">5 Los parques y zonas verdes </p>
          </div>
          <div id="capituloXI-form34" class="list col col-50">
            <div  class="list row">
              <ion-radio name="vs8a5" ng-model="survey.vs8a5" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a5" ng-model="survey.vs8a5" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a5" ng-model="survey.vs8a5" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a5" ng-model="survey.vs8a5" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a5" ng-model="survey.vs8a5" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container47">
          <div id="capituloXI-markdown210" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">6 Las zonas de diversión (Bares, discotecas, billares)</p>
          </div>
          <div id="capituloXI-form35" class="list col col-50">
            <div  class="list row">
              <ion-radio name="vs8a6" ng-model="survey.vs8a6" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a6" ng-model="survey.vs8a6" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a6" ng-model="survey.vs8a6" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a6" ng-model="survey.vs8a6" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a6" ng-model="survey.vs8a6" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
        <div class="item item-body row" id="capituloXI-list-item-container48">
          <div id="capituloXI-markdown211" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">7 Buses/Busetas y colectivos</p>
          </div>
          <div id="capituloXI-form38" class="list col col-50">
            <div  class="list row">
              <ion-radio name="vs8a7" ng-model="survey.vs8a7" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a7" ng-model="survey.vs8a7" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a7" ng-model="survey.vs8a7" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a7" ng-model="survey.vs8a7" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a7" ng-model="survey.vs8a7" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
         
        <div class="item item-body row" id="capituloXI-list-item-container49" >
          <div id="capituloXI-markdown212" class="show-list-numbers-and-dots col col-50">
            <p style="color:#000000;">8 Transmetro</p>
          </div>
          <div id="capituloXI-form39" class="list col col-50">
            <div  class="list row">
              <ion-radio name="vs8a8" ng-model="survey.vs8a8" ng-value="1" class="col text-center" >1</ion-radio>
              <ion-radio name="vs8a8" ng-model="survey.vs8a8" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="vs8a8" ng-model="survey.vs8a8" ng-value="3" class="col text-center">3</ion-radio>
              <ion-radio name="vs8a8" ng-model="survey.vs8a8" ng-value="4" class="col text-center">4</ion-radio>
              <ion-radio name="vs8a8" ng-model="survey.vs8a8" ng-value="5" class="col text-center">5</ion-radio>
            </div>
          </div>
        </div>
</div>
    </ion-list>


    <ion-list id="capituloXI-list15">
      <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider31"> VS9. Ahora, por favor dígame ¿cuáles son los problemas más graves en relación con la seguridad que se presentan en su barrio? <b>(ENC: NO LEA, ESPERE RESPUESTA Y CLASIFIQUE)</b> ¿Algún otro problema? RM</ion-item>
    </ion-list>
    <div id="capituloXI-form15" class="list">
      <ion-checkbox id="capituloXI-checkbox11" ng-model="survey.vs91" ng-value="1" name="vs91">1. Las pandillas</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox12" ng-model="survey.vs92" ng-value="1" name="vs92">2. Se presentan muchos atracos callejeros</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox13" ng-model="survey.vs93" ng-value="1" name="vs93">3. Se roban muchos carros o partes</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox14" ng-model="survey.vs94" ng-value="1" name="vs94">4. Asaltos a casas o apartamentos</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox15" ng-model="survey.vs95" ng-value="1" name="vs95">5. Atracos a tiendas o negocios del barrio</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox16" ng-model="survey.vs96" ng-value="1" name="vs96">6. Se presentan casos de homicidio</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox17" ng-model="survey.vs97" ng-value="1" name="vs97">7. Tráfico de drogas</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox18" ng-model="survey.vs98" ng-value="1" name="vs98">8. Drogadicción</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox19" ng-model="survey.vs99" ng-value="1" name="vs99">9. Se presentan casos de violaciones</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox20" ng-model="survey.vs910" ng-value="1" name="vs910">10. Vandalismo contra edificaciones, parques y otros</ion-checkbox>
      <ion-checkbox id="capituloXI-checkbox21" ng-model="survey.vs911" ng-value="1" name="vs911">11. Presencia de paramilitarismo y Milicias (guerrilla)</ion-checkbox>

      <label class="item item-input" id="capituloXI-textarea21" name="vs9otro">
        <span class="input-label">89 Otro. ¿Cuál? </span><input class="col" ng-model="survey.vs9otro"  type="text" placeholder="" ></label>
      <ion-checkbox id="capituloXI-checkbox21" ng-model="survey.vs990" ng-value="1" name="vs990">90. No se presenta ningún problema grave de seguridad en el barrio</ion-checkbox>



            <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider42"><b> VS10. (ENC: ENTREGUE TARJETA SEGURIDAD)</b> En una escala de 1 a 5, donde 1 es nada seguro y 5 es muy seguro, ¿qué tan seguro en general se siente Usted en <b>(Barranquilla/ Soledad/ Puerto Colombia)</b>? Puede utilizar cualquier número de la escala. RU</ion-item>
      <div
        class="item item-body" id="capituloXI-list-item-container41">
        <div id="capituloXI-container38" class="row">
          <div id="capituloXI-markdown199" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Nada seguro</p>
          </div>
          <div id="capituloXI-markdown200" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo inseguro</p>
          </div>
          <div id="capituloXI-markdown201" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Ni seguro ni inseguro</p>
          </div>
          <div id="capituloXI-markdown202" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Algo seguro</p>
          </div>
          <div id="capituloXI-markdown203" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Muy seguro</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="vs10" ng-model="survey.vs10" ng-value="1" class="col text-center" >1</ion-radio>
            <ion-radio name="vs10" ng-model="survey.vs10" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="vs10" ng-model="survey.vs10" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="vs10" ng-model="survey.vs10" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="vs10" ng-model="survey.vs10" ng-value="5" class="col text-center">5</ion-radio>
          </div>
      </div>



      <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider32"> VS11. <b>(ENC: ENTREGUE TARJETA NADA-MUCHO)</b> Usando las opciones de la tarjeta y pensando en su presencia y capacidad de respuesta, ¿qué tanto cree Usted que las autoridades de <b>(Barranquilla/ Soledad/ Puerto Colombia)</b> están realizando acciones para
        lograr que este barrio sea más seguro? Puede utilizar cualquier número de la escala. RU</ion-item>
      <div class="item item-body" id="capituloXI-list-item-container39">
        <div id="capituloXI-container34" class="row">
          <div id="capituloXI-markdown190" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Nada</p>
          </div>
          <div id="capituloXI-markdown191" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXI-markdown192" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXI-markdown193" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;"> </p>
          </div>
          <div id="capituloXI-markdown194" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">Mucho</p>
          </div>
        </div>
         <div  class="list row">
            <ion-radio name="vs11" ng-model="survey.vs11" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="vs11" ng-model="survey.vs11" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="vs11" ng-model="survey.vs11" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="vs11" ng-model="survey.vs11" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="vs11" ng-model="survey.vs11" ng-value="5" class="col text-center">5</ion-radio>
          </div>
      </div>
      </div>

        </div>

        
        <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider59"> 
        VS15. Durante el último año, ¿usted ha sido víctima de algún delito en<b> (Barranquilla/ Soledad/ Puerto Colombia)</b>? RU</ion-item>
        <ion-radio id="capituloXI-radio116" name="vs15" ng-model="survey.vs15" ng-value="1" ng-click="survey.vs17=''" required>1. Sí</ion-radio>
        <ion-radio id="capituloXI-radio199" name="vs15" ng-model="survey.vs15" ng-value="2" ng-click="survey.vs17=99">2. No - PASE A PC7</ion-radio>

        <div ng-hide="survey.vs15 == 2">
          <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider41"> 
          VS17. ¿Denunció este delito? (ENC: RECUÉRDELE AL ENCUESTADO QUE ESTÁ INDAGANDO POR EL DELITO MÁS GRAVE DEL QUE FUE VÍCTIMA) RU</ion-item>
          <ion-radio id="capituloXI-radio118" name="vs17" class="col" ng-model="survey.vs17" ng-value="1" ng-required="survey.vs15 != 2">1. Sí</ion-radio>
          <ion-radio id="capituloXI-radio119" name="vs17" class="col" ng-model="survey.vs17" ng-value="2">2. No</ion-radio>
        </div>
        <!--
        <ion-item class="item-divider item-text-wrap" id="capituloXI-list-item-divider60"> 
        VS18. Usted considera que la probabilidad de que un delito sea sancionado en (Barranquilla/ Soledad/ Puerto Colombia) es _____ (ENC: LEA) RU</ion-item>
        <ion-radio id="capituloXI-radio138" name="vs18" ng-model="survey.vs18" ng-value="1" required>5. Muy alta</ion-radio>
        <ion-radio id="capituloXI-radio139" name="vs18" ng-model="survey.vs18" ng-value="2">4. Alta</ion-radio>
        <ion-radio id="capituloXI-radio140" name="vs18" ng-model="survey.vs18" ng-value="3">3. Media</ion-radio>
        <ion-radio id="capituloXI-radio141" name="vs18" ng-model="survey.vs18" ng-value="4">2. Baja</ion-radio>
        <ion-radio id="capituloXI-radio142" name="vs18" ng-model="survey.vs18" ng-value="5">1. Muy baja</ion-radio>
        <ion-radio id="capituloXI-radio202" name="vs18" ng-model="survey.vs18" ng-value="6">92. (ENC: NO LEA) No sabe </ion-radio>
      -->
     
     </div>
     <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>

     <button  class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
    </form>
  </ion-content>
</ion-view>