<ion-view title="Capitulo VIII" id="page16">
  <ion-content padding="true" class="has-header">
   <form name="form" class="form-horizontal"  ng-submit="submitForm('capituloIX')" novalidate>
    <h3 id="capituloVIII-heading13" style="color:#000000;text-align:center;">CAPÍTULO VIII. SERVICIOS PUBLICOS (SP)</h3>
    <ion-list id="capituloVIII-list31">
        
      <ion-item class="item-divider item-text-wrap" id="capituloVIII-list-item-divider40"> <b>SP1. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con el <u>servicio de agua</u> que recibe, usando estas opciones? Puede utilizar cualquier número de la escala. Si no recibe el servicio de acueducto en su hogar, por
        favor dígamelo. RU</ion-item>
      <div class="item item-body" id="capituloVIII-list-item-container69">
        <div id="capituloVIII-container43" class="row">
          <div id="capituloVIII-markdown264" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown265" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown266" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown267" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
          </div>
          <div id="capituloVIII-markdown268" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
          </div>
          <div id="capituloVIII-markdown269" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">No recibe</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="sp1" ng-model="survey.sp1" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="sp1" ng-model="survey.sp1" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="sp1" ng-model="survey.sp1" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="sp1" ng-model="survey.sp1" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="sp1" ng-model="survey.sp1" ng-value="5" class="col text-center">5</ion-radio>
            <ion-radio name="sp1" ng-model="survey.sp1" ng-value="90" class="col text-center">90</ion-radio>
          </div>
      </div>
    </ion-list>
    <ion-list id="capituloVIII-list33">
      <ion-item class="item-divider item-text-wrap" id="capituloVIII-list-item-divider45"> <b>SP2. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con el servicio de <u>alcantarillado</u> que recibe, usando estas opciones? Puede utilizar cualquier número de la escala. Si no recibe el servicio de alcantarillado
        en su hogar, por favor dígamelo. RU</ion-item>
      <div class="item item-body" id="capituloVIII-list-item-container70">
        <div id="capituloVIII-container44" class="row">
          <div id="capituloVIII-markdown270" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown271" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown272" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown273" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
          </div>
          <div id="capituloVIII-markdown274" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
          </div>
          <div id="capituloVIII-markdown275" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">No recibe</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="sp2" ng-model="survey.sp2" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="sp2" ng-model="survey.sp2" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="sp2" ng-model="survey.sp2" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="sp2" ng-model="survey.sp2" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="sp2" ng-model="survey.sp2" ng-value="5" class="col text-center">5</ion-radio>
            <ion-radio name="sp2" ng-model="survey.sp2" ng-value="90" class="col text-center">90</ion-radio>
          </div>
      </div>
      <ion-item class="item-divider item-text-wrap" id="capituloVIII-list-item-divider46"> <b>SP3. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con el servicio de <u>energía eléctrica</u> que recibe, usando estas opciones? Puede utilizar cualquier número de la escala. Si no recibe el servicio de energía eléctrica
        en su hogar, por favor dígamelo. RU</ion-item>
      <div class="item item-body" id="capituloVIII-list-item-container71">
        <div id="capituloVIII-container45" class="row">
          <div id="capituloVIII-markdown276" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:9px;">Muy insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown277" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:9px;">Algo insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown278" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:9px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown279" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:9px;">Algo satisfecho</p>
          </div>
          <div id="capituloVIII-markdown280" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:9px;">Muy satisfecho</p>
          </div>
          <div id="capituloVIII-markdown281" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">No recibe</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="sp3" ng-model="survey.sp3" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="sp3" ng-model="survey.sp3" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="sp3" ng-model="survey.sp3" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="sp3" ng-model="survey.sp3" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="sp3" ng-model="survey.sp3" ng-value="5" class="col text-center">5</ion-radio>
            <ion-radio name="sp3" ng-model="survey.sp3" ng-value="90" class="col text-center">90</ion-radio>
          </div>
      </div>

      <ion-item class="item-divider item-text-wrap" id="capituloVIII-list-item-divider47"> <b>SP5. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con el servicio de <u>telefonía celular</u> que tiene, usando estas opciones? Puede utilizar cualquier número de la escala. Si no tiene servicio de telefonía celular,
        por favor dígamelo. RU</ion-item>
      <div class="item item-body" id="capituloVIII-list-item-container73">
        <div id="capituloVIII-container47" class="row">
          <div id="capituloVIII-markdown288" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown289" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown290" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown291" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
          </div>
          <div id="capituloVIII-markdown292" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
          </div>
          <div id="capituloVIII-markdown293" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">No recibe</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="sp5" ng-model="survey.sp5" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="sp5" ng-model="survey.sp5" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="sp5" ng-model="survey.sp5" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="sp5" ng-model="survey.sp5" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="sp5" ng-model="survey.sp5" ng-value="5" class="col text-center">5</ion-radio>
            <ion-radio name="sp5" ng-model="survey.sp5" ng-value="90" class="col text-center">90</ion-radio>
          </div>
      </div>
      <ion-item class="item-divider item-text-wrap" id="capituloVIII-list-item-divider48"> <b>SP6. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con el servicio de <u>aseo y recolección de basuras</u> que recibe, usando estas opciones? Puede utilizar cualquier número de la escala. Si no recibe el servicio de
        aseo y recolección de basuras en su hogar, por favor dígamelo. RU</ion-item>
      <div class="item item-body" id="capituloVIII-list-item-container74">
        <div id="capituloVIII-container48" class="row">
          <div id="capituloVIII-markdown294" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown295" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown296" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown297" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
          </div>
          <div id="capituloVIII-markdown298" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
          </div>
          <div id="capituloVIII-markdown299" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">No recibe</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="sp6" ng-model="survey.sp6" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="sp6" ng-model="survey.sp6" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="sp6" ng-model="survey.sp6" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="sp6" ng-model="survey.sp6" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="sp6" ng-model="survey.sp6" ng-value="5" class="col text-center">5</ion-radio>
            <ion-radio name="sp6" ng-model="survey.sp6" ng-value="90" class="col text-center">90</ion-radio>
          </div>
      </div>
      <ion-item class="item-divider item-text-wrap" id="capituloVIII-list-item-divider50"> <b>SP7. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con el servicio de <u>gas domiciliario</u> que recibe, usando estas opciones? Puede utilizar cualquier número de la escala. Si no recibe el servicio de gas domiciliario
        en su hogar, por favor dígamelo. RU</ion-item>
      <div class="item item-body col" id="capituloVIII-list-item-container75">
        <div id="capituloVIII-container49" class="row">
          <div id="capituloVIII-markdown300" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown301" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown302" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown303" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
          </div>
          <div id="capituloVIII-markdown304" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
          </div>
          <div id="capituloVIII-markdown305" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">No recibe</p>
          </div>
        </div>
       <div  class="list row">
            <ion-radio name="sp7" ng-model="survey.sp7" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="sp7" ng-model="survey.sp7" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="sp7" ng-model="survey.sp7" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="sp7" ng-model="survey.sp7" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="sp7" ng-model="survey.sp7" ng-value="5" class="col text-center">5</ion-radio>
            <ion-radio name="sp7" ng-model="survey.sp7" ng-value="90" class="col text-center">90</ion-radio>
          </div>
      </div>
      <ion-item class="item-divider item-text-wrap" id="capituloVIII-list-item-divider49"> <b>SP8. (ENC: ENTREGUE TARJETA SATISFACCIÓN)</b> ¿Qué tan satisfecho(a) está usted en general con el servicio de <u>internet</u> que recibe en su hogar, usando estas opciones? Puede utilizar cualquier número de la escala. Si no tiene servicio Internet en su hogar,
        por favor dígamelo. RU</ion-item>
      <div class="item item-body" id="capituloVIII-list-item-container76">
        <div id="capituloVIII-container50" class="row">
          <div id="capituloVIII-markdown306" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown307" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown308" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Ni satisfecho ni insatisfecho</p>
          </div>
          <div id="capituloVIII-markdown309" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Algo satisfecho</p>
          </div>
          <div id="capituloVIII-markdown310" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;font-size:10px;">Muy satisfecho</p>
          </div>
          <div id="capituloVIII-markdown311" style="text-align:center;" class="show-list-numbers-and-dots col">
            <p style="margin-top:0px;color:#000000;">No recibe</p>
          </div>
        </div>
        <div  class="list row">
            <ion-radio name="sp8" ng-model="survey.sp8" ng-value="1" class="col text-center" required>1</ion-radio>
            <ion-radio name="sp8" ng-model="survey.sp8" ng-value="2" class="col text-center">2</ion-radio>
            <ion-radio name="sp8" ng-model="survey.sp8" ng-value="3" class="col text-center">3</ion-radio>
            <ion-radio name="sp8" ng-model="survey.sp8" ng-value="4" class="col text-center">4</ion-radio>
            <ion-radio name="sp8" ng-model="survey.sp8" ng-value="5" class="col text-center">5</ion-radio>
            <ion-radio name="sp8" ng-model="survey.sp8" ng-value="90" class="col text-center">90</ion-radio>
          </div>
      </div>
    </ion-list>
     <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>

     <button  class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
    </form>
  </ion-content>
</ion-view>