<ion-view title="Capitulo IV" id="page12">
  <ion-content padding="true" class="has-header">

   <form name="form" class="form-horizontal"  ng-submit="submitForm('capituloV')" novalidate>
    <h3 id="capituloIV-heading9" style="color:#000000;text-align:center;">CAPITULO IV. CLIMA DE OPINIÓN ECONOMICA (CO)</h3>
    <ion-list id="capituloIV-list21">


      <ion-item class="item-divider item-text-wrap" id="capituloIV-list-item-divider23">
      <b>CO2.</b> Durante el último año, la situación económica de su hogar <b>_____ (ENC: LEA) RU</b></ion-item>
      <ion-radio id="capituloIV-radio70" ng-model="survey.co2" ng-value="5" name="co2" required>5. Ha mejorado mucho</ion-radio>
      <ion-radio id="capituloIV-radio71" ng-model="survey.co2" ng-value="4" name="co2">4. Ha mejorado algo</ion-radio>
      <ion-radio id="capituloIV-radio72" ng-model="survey.co2" ng-value="3" name="co2">3. Sigue igual</ion-radio>
      <ion-radio id="capituloIV-radio73" ng-model="survey.co2" ng-value="2" name="co2">2. Ha empeorado algo</ion-radio>
      <ion-radio id="capituloIV-radio74" ng-model="survey.co2" ng-value="1" name="co2">1. Ha empeorado mucho</ion-radio>

      <ion-item class="item-divider item-text-wrap" id="capituloIV-list-item-divider21"> 
      <b>CO4.</b> ¿Podría decirme si usted se considera pobre? <b>(ENC: ESPERE RESPUESTA) RU</b></ion-item>
      <ion-radio id="capituloIV-radio68" ng-model="survey.co4" ng-value="1" name="co4" class="col" required>1. SI</ion-radio>
      <ion-radio id="capituloIV-radio69" ng-model="survey.co4" ng-value="2" name="co4" class="col">2. No</ion-radio>

     <!-- <ion-item class="item-divider item-text-wrap" id="capituloIV-list-item-divider22"> 
      CO15. Incluyendo todos los aportes que los miembros hacen al ingreso del hogar, ¿de cuánto es el ingreso total mensual del que dispone este hogar para gastar en la satisfacción de sus necesidades? (ENC: LEER) RU </ion-item>
      <ion-radio id="capituloIV-radio75" ng-model="survey.co15" ng-value="1" name="co15" class="item-text-wrap" required>1. Menos de $660.000</ion-radio>
      <ion-radio id="capituloIV-radio92" ng-model="survey.co15" ng-value="2" name="co15" class="item-text-wrap">2. De $660.000 a $999.999</ion-radio>
      <ion-radio id="capituloIV-radio76" ng-model="survey.co15" ng-value="3" name="co15" class="item-text-wrap">3. De $1.000.000 a $1.999.999</ion-radio>
      <ion-radio id="capituloIV-radio77" ng-model="survey.co15" ng-value="4" name="co15" class="item-text-wrap">4. De $2.000.000 a $2.999.999</ion-radio>
      <ion-radio id="capituloIV-radio93" ng-model="survey.co15" ng-value="5" name="co15" class="item-text-wrap">5. De $3.000.000 a $3.999.999</ion-radio>
      <ion-radio id="capituloIV-radio94" ng-model="survey.co15" ng-value="6" name="co15" class="item-text-wrap">6. De $4.000.000 a $4.999.999</ion-radio>
      <ion-radio id="capituloIV-radio95" ng-model="survey.co15" ng-value="7" name="co15" class="item-text-wrap">7. De $5.000.000 a $5.999.999</ion-radio>
      <ion-radio id="capituloIV-radio96" ng-model="survey.co15" ng-value="8" name="co15" class="item-text-wrap">8. De $6.000.000 a $6.999.999</ion-radio>
      <ion-radio id="capituloIV-radio97" ng-model="survey.co15" ng-value="9" name="co15" class="item-text-wrap">9. De $7.000.000 a $7.999.999</ion-radio>
      <ion-radio id="capituloIV-radio98" ng-model="survey.co15" ng-value="10" name="co15" class="item-text-wrap">10. De $8.000.000 a $8.999.999</ion-radio>
      <ion-radio id="capituloIV-radio99" ng-model="survey.co15" ng-value="11" name="co15" class="item-text-wrap">11. De $9.000.000 a $9.999.999</ion-radio>
      <ion-radio id="capituloIV-radio100" ng-model="survey.co15" ng-value="12" name="co15" class="item-text-wrap">12. $10.000.000 o más</ion-radio>
    -->

      <ion-item class="item-divider item-text-wrap" id="capituloIV-list-item-divider24"> <b>CO1.</b> De 1 que es <u>nada</u> a 5 que es <u>totalmente</u>, ¿qué tan de acuerdo está Usted con que en <b>(Barranquilla/ Soledad/ Puerto Colombia)</b> es fácil encontrar trabajo? </ion-item>
       <div class="item item-body row"
        id="capituloIV-list-item-container143">
        <div id="capituloIV-markdown461" class="show-list-numbers-and-dots col">
          <p style="margin-top:0px;color:#000000;">
            <strong>NADA</strong>
          </p>
        </div>
        <div id="capituloIV-markdown462" style="text-align:right;" class="show-list-numbers-and-dots col">
          <p style="margin-top:0px;color:#000000;">
            <strong>TOTALMENTE</strong>
          </p>
        </div>
      </div>
      <div class="item item-body row" id="capituloIV-list-item-container58">
        <div  class="list row">
          <ion-radio id="capituloII-radio147" ng-model="survey.co1" ng-value="1" class="col text-center" required>1</ion-radio>
          <ion-radio id="capituloII-radio146" ng-model="survey.co1" ng-value="2" class="col text-center">2</ion-radio>
          <ion-radio id="capituloII-radio145" ng-model="survey.co1" ng-value="3" class="col text-center">3</ion-radio>
          <ion-radio id="capituloII-radio143" ng-model="survey.co1" ng-value="4" class="col text-center">4</ion-radio>
          <ion-radio id="capituloII-radio144" ng-model="survey.co1" ng-value="5" class="col text-center">5</ion-radio>
        </div>
      </div>
    </ion-list>
      <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>

      <button id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
    </form>
    
  </ion-content>
</ion-view>