<ion-view title="Capitulo XVIII" id="page26">
  <ion-content padding="true" class="has-header">
  <form name="form" class="form-horizontal"  ng-submit="submitForm('capituloXIX')" novalidate>
    <h3 id="capituloXVIII-heading24" style="color:#000000;text-align:center;">CAPÍTULO XVIII. ASPECTOS GUBERNAMENTALES - GESTIÓN PÚBLICA </h3>
    <ion-list id="capituloXVIII-list38">
      <ion-item class="item-divider item-text-wrap" id="capituloXVIII-list-item-divider99"> 
<b>GP1. </b> Ahora voy a mencionarle el nombre de algunas entidades de <b>(Barranquilla/ Soledad/ Puerto Colombia)</b> para que por favor me diga si Usted tiene, de cada una de ellas, una imagen favorable o desfavorable. Si no conoce alguna de las entidades, por favor dígamelo y seguimos adelante. <b>(ENC: LEA Y ROTE ENTIDADES). RU POR ENTIDAD</b>
      </ion-item>
      <div class="item item-body" id="capituloXVIII-list-item-container159">
        <ion-list id="capituloXVIII-list42">
          <ion-item class="item-divider" id="capituloXVIII-list-item-divider101"> FAVORABLE=1; DESFAVORABLE=2; NO CONOCE=3</ion-item>
        </ion-list>
      </div>
      <div class="item item-body row" id="capituloXVIII-list-item-container151">
        <div id="capituloXVIII-markdown348" style="text-align:center;" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">
            <strong>ENTIDADES E INSTITUCIONES</strong>
          </p>
        </div>
        <div id="capituloXVIII-markdown480" style="text-align:center;" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">
            <strong>GP1 IMAGEN
            </strong>
          </p>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVIII-list-item-container111">
        <div id="capituloXVIII-markdown479" class="show-list-numbers-and-dots col">
          <p style="color:#000000;"> a. Gases del Caribe</p>
        </div>
        <div id="capituloXVIII-form103" class="list col">
           
            <div  class="list row">
              <ion-radio name="gp1a" ng-model="survey.gp1a" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gp1a" ng-model="survey.gp1a" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1a" ng-model="survey.gp1a" ng-value="3" class="col text-center">3</ion-radio>
              
            </div>
        
        </div>
      </div>
      <div class="item item-body row" id="capituloXVIII-list-item-container160">
        <div id="capituloXVIII-markdown368" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">b. Electricaribeb. Electricaribe</p>
        </div>
        <div id="capituloXVIII-form104" class="list col">
          <div  class="list row">
              <ion-radio name="gp1b" ng-model="survey.gp1b" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gp1b" ng-model="survey.gp1b" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1b" ng-model="survey.gp1b" ng-value="3" class="col text-center">3</ion-radio>
               
            </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVIII-list-item-container161">
        <div id="capituloXVIII-markdown369" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">c. Triple A</p>
        </div>
        <div id="capituloXVIII-form105" class="list col">
          <div  class="list row">
              <ion-radio name="gp1c" ng-model="survey.gp1c" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gp1c" ng-model="survey.gp1c" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1c" ng-model="survey.gp1c" ng-value="3" class="col text-center">3</ion-radio>
              
            </div>
        </div>
      </div>
      <!--insertada despues-->
      <div class="item item-body row" id="capituloXVIII-list-item-container161e">
        <div id="capituloXVIII-markdown369" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">d.  Policía de Tránsito</p>
        </div>
        <div id="capituloXVIII-form105" class="list col">
          <div  class="list row">
              <ion-radio name="gp1d" ng-model="survey.gp1d" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gp1d" ng-model="survey.gp1d" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1d" ng-model="survey.gp1d" ng-value="3" class="col text-center">3</ion-radio>
              
            </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVIII-list-item-container162">
        <div id="capituloXVIII-markdown370" class="show-list-numbers-and-dots col">
          <p style="color:#000000;"> e. Policía Metropolitana</p>
        </div>
        <div id="capituloXVIII-form106" class="list col">
          <div  class="list row">
              <ion-radio name="gp1e" ng-model="survey.gp1e" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gp1e" ng-model="survey.gp1e" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1e" ng-model="survey.gp1e" ng-value="3" class="col text-center">3</ion-radio>
               
            </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVIII-list-item-container164">
        <div id="capituloXVIII-markdown372" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">f. SENA</p>
        </div>
        <div id="capituloXVIII-form108" class="list col">
         <div  class="list row">
              <ion-radio name="gp1f" ng-model="survey.gp1f" ng-value="1" class="col text-center" required>1</ion-radio>
              <ion-radio name="gp1f" ng-model="survey.gp1f" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1f" ng-model="survey.gp1f" ng-value="3" class="col text-center">3</ion-radio>
              
            </div>
        </div>
      </div>
      <div class="item item-body row" id="capituloXVIII-list-item-container163" ng-show="survey.localidad<=5">
        <div id="capituloXVIII-markdown371" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">g. Parque Cultural del Caribe </p>

          <p style="color:#000000;">
            <strong>(NO APLICA FUERA DE BARRANQUILLA)</strong>
          </p>
        </div>
        <div id="capituloXVIII-form107" class="list col">
         <div  class="list row">
              <ion-radio name="gp1g" ng-model="survey.gp1g" ng-value="1" class="col text-center" ng-required="survey.localidad<=5">1</ion-radio>
              <ion-radio name="gp1g" ng-model="survey.gp1g" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1g" ng-model="survey.gp1g" ng-value="3" class="col text-center">3</ion-radio>
               
            </div>
        </div>
      </div>
    
      <div class="item item-body row" id="capituloXVIII-list-item-container165" ng-show="survey.localidad<=5">
        <div id="capituloXVIII-markdown373" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">h. Centro de Eventos “Puerta de Oro”</p>

          <p style="color:#000000;">
            <strong>(NO APLICA FUERA DE BARRANQUILLA)</strong>
          </p>
        </div>

        <div id="capituloXVIII-form109" class="list col">
          <div  class="list row">
              <ion-radio name="gp1h" ng-model="survey.gp1h" ng-value="1" class="col text-center" ng-required="survey.localidad<=5">1</ion-radio>
              <ion-radio name="gp1h" ng-model="survey.gp1h" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1h" ng-model="survey.gp1h" ng-value="3" class="col text-center">3</ion-radio>
             
            </div>
        </div>
      </div>

      <div class="item item-body row" id="capituloXVIII-list-item-container166" ng-show="survey.localidad<=5">
        <div id="capituloXVIII-markdown374" class="show-list-numbers-and-dots col">
          <p style="color:#000000;">i. Zoológico de Barranquilla</p>

          <p style="color:#000000;">
            <strong>(NO APLICA FUERA DE BARRANQUILLA)</strong>
          </p>
        </div>
        <div id="capituloXVIII-form110" class="list col">
          <div  class="list row">
              <ion-radio name="gp1i" ng-model="survey.gp1i" ng-value="1" class="col text-center" ng-required="survey.localidad<=5">1</ion-radio>
              <ion-radio name="gp1i" ng-model="survey.gp1i" ng-value="2" class="col text-center">2</ion-radio>
              <ion-radio name="gp1i" ng-model="survey.gp1i" ng-value="3" class="col text-center">3</ion-radio>
               
            </div>
        </div>
      </div>
    </ion-list>
 
    <ng-include src="'templates/seccionalertPart.html'" scope="" onload=""></ng-include>
     <button id="capituloIdentificaciN-button265" class="button button-positive  button-block icon-right ion-android-arrow-forward" type='submit' ng-disabled="form.$invalid">Siguiente</button>
 </form>
  </ion-content>
</ion-view>