<ion-view title="FILTROS" id="page32">
  <ion-content padding="true" class="has-header">
    <h4 id="fILTROS2-heading33" style="color:#000000;text-align:center;">FILTROS</h4>
    <ion-list id="fILTROS2-list66">
      <ion-item class="item-divider item-text-wrap" id="fILTROS2-list-item-divider131"> Identificador de manzana:</ion-item>
      <label class="item item-input" id="fILTROS2-input83" name="IDM">
        <span class="input-label">IDM</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="fILTROS2-select4" name="sector">
        <span class="input-label">Sector</span>
        <select>
          <option>--Seleccionar--</option>
          <option>s2</option>
          <option>s3</option>
        </select>
      </label>
      <label class="item item-select" id="fILTROS2-select5" name="seccion">
        <span class="input-label">Sección</span>
        <select>
          <option>--Seleccionar--</option>
          <option>s2</option>
          <option>s3</option>
        </select>
      </label>
      <label class="item item-select" id="fILTROS2-select6" name="manzana">
        <span class="input-label">Manzana</span>
        <select>
          <option>--Seleccionar--</option>
          <option>m2</option>
          <option>m3</option>
        </select>
      </label>
      <ion-item class="item-divider item-text-wrap" id="fILTROS2-list-item-divider132"> REGISTRO DE RECORRIDO</ion-item>
      <label class="item item-input" id="fILTROS2-input84" name="recorrido">
        <span class="input-label">N°:</span>
        <input type="number" placeholder="1">
      </label>
      <ion-item class="item-divider item-text-wrap" id="fILTROS2-list-item-divider133"> Fecha y Hora</ion-item>
      <label class="item item-input" id="fILTROS2-input85" name="hinicio">
        <span class="input-label">Hora de inicio (formato militar):</span>
        <input type="time" placeholder="">
      </label>
      <label class="item item-input" id="fILTROS2-input86" name="fecha">
        <span class="input-label">Fecha de la encuesta:</span>
        <input type="date" placeholder="">
      </label>
      <ion-item class="item-divider item-text-wrap" id="fILTROS2-list-item-divider134"> Cuadro de incidencias</ion-item>
    </ion-list>
    <ion-list id="fILTROS2-list68">
      <ion-radio id="fILTROS2-radio261" name="a">Encuesta efectivamente realizada (F0)</ion-radio>
      <ion-radio id="fILTROS2-radio262" name="a">Hogar rehúsa (F1)</ion-radio>
      <ion-radio id="fILTROS2-radio263" name="a">Entrevistado rehúsa (F2)</ion-radio>
      <ion-radio id="fILTROS2-radio264" name="a">Entrevistado abandona (F3)</ion-radio>
      <ion-radio id="fILTROS2-radio269" name="a">Hogar no atiende (F4)</ion-radio>
    </ion-list>
    <ion-list id="fILTROS2-list73">
      <ion-item class="item-divider item-text-wrap" id="fILTROS2-list-item-divider135"> D. Supervisión</ion-item>
      <div class="item item-body" id="fILTROS2-list-item-container173">
        <div id="fILTROS2-markdown498" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Primera visita</strong>
          </p>
        </div>
        <form id="fILTROS2-form161" class="list">
          <label class="item item-input" id="fILTROS2-input87">
            <span class="input-label">a. Fecha</span>
            <input type="date" placeholder="">
          </label>
          <ion-radio id="fILTROS2-radio270" name="supervicion1V">Presencial </ion-radio>
          <ion-radio id="fILTROS2-radio271" name="supervicion1V">Directa Personal </ion-radio>
          <ion-radio id="fILTROS2-radio272" name="supervicion1V">Telefónica </ion-radio>
          <ion-radio id="fILTROS2-radio273" name="supervicion1V">No supervisada</ion-radio>
        </form>
      </div>
      <div class="item item-body" id="fILTROS2-list-item-container175">
        <div id="fILTROS2-markdown499" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Segunda visita</strong>
          </p>
        </div>
        <form id="fILTROS2-form162" class="list">
          <label class="item item-input" id="fILTROS2-input88">
            <span class="input-label">a. Fecha</span>
            <input type="date" placeholder="">
          </label>
          <ion-radio id="fILTROS2-radio274" name="supervicion2V">Presencial </ion-radio>
          <ion-radio id="fILTROS2-radio275" name="supervicion2V">Directa Personal </ion-radio>
          <ion-radio id="fILTROS2-radio276" name="supervicion2V">Telefónica </ion-radio>
          <ion-radio id="fILTROS2-radio277" name="supervicion2V">No supervisada</ion-radio>
        </form>
      </div>
    </ion-list>
    <ion-list id="fILTROS2-list74">
      <ion-item class="item-divider" id="fILTROS2-list-item-divider136"> E. Revisión / Critica</ion-item>
      <label class="item item-input" id="fILTROS2-input89">
        <span class="input-label">Revisión</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="fILTROS2-input90">
        <span class="input-label">Critica</span>
        <input type="date" placeholder="">
      </label>
      <ion-item class="item-divider" id="fILTROS2-list-item-divider137"> F. Datos del Encuestador, Supervisor y Coordinador</ion-item>
      <div class="item item-body row" id="fILTROS2-list-item-container176">
        <div id="fILTROS2-markdown500" style="text-align:center;" class="show-list-numbers-and-dots col">
          <p style="margin-top:0px;color:#000000;">Cargo</p>
        </div>
        <div id="fILTROS2-markdown501" style="text-align:center;" class="show-list-numbers-and-dots col">
          <p style="margin-top:0px;color:#000000;">Nombre</p>
        </div>
        <div id="fILTROS2-markdown502" style="text-align:center;" class="show-list-numbers-and-dots col">
          <p style="margin-top:0px;color:#000000;">C.C</p>
        </div>
      </div>
      <div class="item item-body row" id="fILTROS2-list-item-container177">
        <form id="fILTROS2-form168" class="list row">
          <label class="item item-input item-stacked-label col" id="fILTROS2-input91" name="datos1">
            <span class="input-label">a. Encuestador:</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input col" id="fILTROS2-input92" name="datos1">
            <input type="text" placeholder="">
          </label>
          <label class="item item-input col" id="fILTROS2-input93" name="datos1">
            <input type="text" placeholder="">
          </label>
        </form>
      </div>
      <div class="item item-body row" id="fILTROS2-list-item-container178">
        <form id="fILTROS2-form169" class="list row">
          <label class="item item-input item-stacked-label col" id="fILTROS2-input94" name="datos1">
            <span class="input-label">b. Supervisor:</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input col" id="fILTROS2-input95" name="datos1">
            <input type="text" placeholder="">
          </label>
          <label class="item item-input col" id="fILTROS2-input96" name="datos1">
            <input type="text" placeholder="">
          </label>
        </form>
      </div>
      <div class="item item-body row" id="fILTROS2-list-item-container179">
        <form id="fILTROS2-form171" class="list row">
          <label class="item item-input item-stacked-label col" id="fILTROS2-input97" name="datos1">
            <span class="input-label">c. Coordinador:</span>
            <input type="text" placeholder="">
          </label>
          <label class="item item-input col" id="fILTROS2-input98" name="datos1">
            <input type="text" placeholder="">
          </label>
          <label class="item item-input col" id="fILTROS2-input99" name="datos1">
            <input type="text" placeholder="">
          </label>
        </form>
      </div>
    </ion-list>
    <ion-list id="fILTROS2-list75">
      <ion-item class="item-divider" id="fILTROS2-list-item-divider138"> G. Datos de la persona entrevistada</ion-item>
      <label class="item item-input" id="fILTROS2-input100">
        <span class="input-label">a. Nombre:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fILTROS2-input101">
        <span class="input-label">b. Teléfono:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fILTROS2-input102">
        <span class="input-label">c. Dirección: </span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fILTROS2-input103">
        <span class="input-label">d. E-Mail:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fILTROS2-input104">
        <span class="input-label">e. Celular:</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="fILTROS2-input105">
        <span class="input-label">f. Barrio:</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <ion-list id="fILTROS2-list76">
      <ion-item class="item-divider" id="fILTROS2-list-item-divider139"> OBSERVACIONES</ion-item>
    </ion-list>
    <form id="fILTROS2-form172" class="list">
      <label class="item item-input" id="fILTROS2-textarea7">
        <span class="input-label"></span><textarea placeholder="OBSERVACIONES"></textarea></label>
    </form>
    <a ui-sref="tabsController.dashboard_tab3" id="fILTROS2-button134" class="button button-positive  button-block icon-right ion-android-arrow-forward">Finalizar</a>
  </ion-content>
</ion-view>