<ion-view title="Información" id="page2">
  <ion-content padding="true" class="has-header">


    <h2 id="informaciN-heading1" style="color:#000000;font-weight:400;text-align:center;">RED CIUDADES CÓMO VAMOS</h2>
    <h4 id="informaciN-heading2" style="color:#000000;text-align:center;">ENCUESTA DE PERCEPCIÓN DE LA CALIDAD DE VIDA</h4>
    <h4 id="informaciN-heading3" style="color:#000000;text-align:center;">NUCLEO BASICO Y AÑO 1</h4>
    <div class="list card" id="informaciN-card22">
      <div class="item item-body" id="informaciN-list-item-container3">
        <div id="informaciN-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>CONFIDENCIAL</strong>. La información que se solicita en esta encuesta es estrictamente confidencial y anónima y sólo se usará con fines estadísticos y científicos</p>
        </div>
      </div>
    </div>
    <a ui-sref="capituloIdentificaciN" id="informaciN-button1" class="button button-positive  button-block icon ion-ios-play-outline"> Iniciar</a>
  </ion-content>
</ion-view>