      <div class="card assertive" ng-show="form.$invalid">
        <div  class="item item-text-wrap assertive">
          <i class="ion-alert-circled"></i> Alerta!: Tienes preguntas obligatorias sin responder. Corrigelas para  continuar.
        </div>
      </div>
      <div class="card " ng-show="!form.$invalid">
        <div  class="item item-text-wrap balanced">
          <i class="ion-ios-checkmark-outline"></i> Información: Has completado correctamente esta sección, puedes continuar.
        </div>
      </div>