<ion-view title="Signup" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="signup-heading29" style="color:#000000;text-align:center;">Ingrese los datos solicitados para crear un usuario:</h3>
    <form id="signup-form31" class="list">
      <ion-list id="signup-list11">
        <label class="item item-input" id="signup-input21" name="name">
          <span class="input-label">Nombre:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input56" name="cid">
          <span class="input-label">Cedula:</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="signup-input57" name="email">
          <span class="input-label">E-mail:</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="signup-input22" name="username">
          <span class="input-label">Nombre de Usuario:</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input23" name="password">
          <span class="input-label">Nueva Contraseña:</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="tabsController.dashboard" id="signup-button43" class="button button-positive  button-block">Crear Usuario</a>
    </form>
  </ion-content>
</ion-view>