<ion-view title="" id="page1">
  <ion-tabs class="tabs-positive tabs-icon-top" id="tabsController-tabs1">
    
    <ion-tab title="Login" icon="ion-android-exit" href="#/page50/login" id="tabsController-tab4">
      <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>

    <ion-tab ng-hide="true" title="Pagina Principal" icon="ion-android-home" href="#/page50/tab1/dashboard" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    

  </ion-tabs>
</ion-view>